<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tryndamere.zhibo8.harvest.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tryndamere.zhibo8.harvest.entity.News">
        <id column="id" property="id" />
        <result column="reporter_id" property="reporterId" />
        <result column="url" property="url" />
        <result column="title" property="title" />
        <result column="create_time" property="createTime" />
        <result column="content" property="content" />
        <result column="origin" property="origin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reporter_id, url, title, create_time, content, origin
    </sql>

</mapper>
